**This dataset had a lot of anomalies,missing values and a lot of feature engineering had to be done in it and majority of anomalies etc. were found through checking unique values,info,value_counts ,but to avoid unnecessarily long code i have not mentioned in the code that how did i found that particular issue either by .unique(),.info() or value_counts() but i have mentioned the anomalies and feature engineering and how to resolve it and also added comments in it.**

In [2]:
#Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [3]:
train=pd.read_csv("train.csv") #readind train dataset
train.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [4]:
test=pd.read_csv("test.csv")

**We would be dropping the rows with null values as the no. of null values are either very low so it won't impact much and the column-"New_Price" has very large amount of missing values so wehave to drop that too**

In [5]:
train.isnull().sum() #checking null values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [6]:
test.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  10
Seats                  11
New_Price            1052
dtype: int64

In [7]:
train.drop(columns=["Unnamed: 0","New_Price"],inplace=True) #dropping cols-"Unnamed" and "New Price"

In [8]:
test.drop(columns=["Unnamed: 0","New_Price"],inplace=True)

In [67]:
train.Owner_Type.unique() #checking Unique values in Owner_type

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [57]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60,998,58.16,5,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20,1199,88.70,5,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5,17.74

In [11]:
train.drop(train.loc[train["Seats"].isnull()].index,inplace=True)  #dropping rows with missing values

In [12]:
train.drop(train.loc[train["Engine"].isnull()].index,inplace=True)#dropping rows with missing values

In [112]:
test.drop(test.loc[test["Engine"].isnull()].index,inplace=True)  #test

In [113]:
test.drop(test.loc[test["Seats"].isnull()].index,inplace=True)  #test

In [13]:
train.drop(train.loc[train["Mileage"].isnull()].index,inplace=True)     #dropping rows with missing values

In [15]:
train.drop(train.loc[train.Power.str.contains(r"null")].index,inplace=True)#dropping rows with missing values

In [121]:
test.drop(test.loc[test.Power.str.contains(r"null")].index,inplace=True)  #test

In [16]:
train.Mileage=train.Mileage.str.replace("km/kg","kmpl") #dropping rows with missing values

In [114]:
test.Mileage=test.Mileage.str.replace("km/kg","kmpl")  #test

In [40]:
train.Mileage=train.Mileage.str.replace("kmpl","")#dropping rows with missing values

In [115]:
test.Mileage=test.Mileage.str.replace("kmpl","")  #test

In [17]:
train.Seats=train.Seats.apply(lambda x:int(x)) #converting seats col to integer dtype

In [140]:
test.Seats=test.Seats.apply(lambda x:int(x))  #test

In [141]:
test.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,1,32.26,998,58.20,4
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,2,24.70,796,47.30,5
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,1,13.68,2393,147.80,7
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,1,18.50,1197,82.85,5
5,Mahindra XUV500 W8 2WD,Coimbatore,2016,85609,Diesel,Manual,2,16.00,2179,140.00,7

In [44]:
train.Engine=train.Engine.str.replace("CC","") #removing CC to get correct dtype i.e int

In [116]:
test.Engine=test.Engine.str.replace("CC","")  #test

In [46]:
train.Power=train.Power.str.replace("bhp","") #removing bhp to get correct dtype i.e float

In [117]:
test.Power=test.Power.str.replace("bhp","")  #test

In [50]:
train.Mileage=train.Mileage.apply(lambda x:float(x)) #converting to float

In [118]:
test.Mileage=test.Mileage.apply(lambda x:float(x))  #test

In [52]:
train.Engine=train.Engine.apply(lambda x:int(x))#converting to int

In [119]:
test.Engine=test.Engine.apply(lambda x:int(x))  #test

In [55]:
train.Power=train.Power.apply(lambda x:float(x))#converting to float

In [122]:
test.Power=test.Power.apply(lambda x:float(x))  #test

In [69]:
#mapping integer values to Owner_type

train.Owner_Type=train.Owner_Type.map({"First":1,"Second":2,"Third":3,'Fourth & Above':4})

In [123]:
#test
test.Owner_Type=test.Owner_Type.map({"First":1,"Second":2,"Third":3,'Fourth & Above':4})

In [80]:
train.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [125]:
test.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
dtype: int64

In [19]:
train.Seats.value_counts()

5     4919
7      672
8      133
4       99
6       29
2       13
10       4
9        3
Name: Seats, dtype: int64

In [43]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6,998 CC,58.16 bhp,5,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2,1199 CC,88.7 bhp,5,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8 bhp,5,17.74

In [22]:
train.Fuel_Type.unique() #checking unique values

array(['CNG', 'Diesel', 'Petrol', 'LPG'], dtype=object)

In [70]:
df=train.copy()

In [71]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,1,26.60,998,58.16,5,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,1,19.67,1582,126.20,5,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,1,18.20,1199,88.70,5,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,1,20.77,1248,88.76,7,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,2,15.20,1968,140.80,5,17.74

In [25]:
#importing some more libraries

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix
from sklearn.model_selection import RandomizedSearchCV

In [98]:
#dropping columns that are not much related to the target variable

df1=train.drop(["Name","Location"],axis=1)

In [142]:
test_df=test.drop(["Name","Location"],axis=1)

In [99]:
df1.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,CNG,Manual,1,26.60,998,58.16,5,1.75
1,2015,41000,Diesel,Manual,1,19.67,1582,126.20,5,12.50
2,2011,46000,Petrol,Manual,1,18.20,1199,88.70,5,4.50
3,2012,87000,Diesel,Manual,1,20.77,1248,88.76,7,6.00
4,2013,40670,Diesel,Automatic,2,15.20,1968,140.80,5,17.74

In [100]:
dff=pd.get_dummies(df1,drop_first=True)  #one hot encoding for categorical features

In [143]:
test_df=pd.get_dummies(test_df,drop_first=True)  #one hot encoding for categorical features

In [145]:
test_df.head()

,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,2014,40929,1,32.26,998,58.20,4,0,0,0,1
1,2013,54493,2,24.70,796,47.30,5,0,0,1,1
2,2017,34000,1,13.68,2393,147.80,7,1,0,0,1
4,2014,29000,1,18.50,1197,82.85,5,0,0,1,1
5,2016,85609,2,16.00,2179,140.00,7,1,0,0,1

In [101]:
dff.head()

,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,2010,72000,1,26.60,998,58.16,5,1.75,0,0,0,1
1,2015,41000,1,19.67,1582,126.20,5,12.50,1,0,0,1
2,2011,46000,1,18.20,1199,88.70,5,4.50,0,0,1,1
3,2012,87000,1,20.77,1248,88.76,7,6.00,1,0,0,1
4,2013,40670,2,15.20,1968,140.80,5,17.74,1,0,0,0

In [102]:
dff.corr()  #checking correlation

,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
Year,1.000000,-0.169369,-0.386030,0.285623,-0.068045,0.014531,0.007833,0.299475,0.109692,-0.034951,-0.111083,-0.085406
Kilometers_Driven,-0.169369,1.000000,0.080425,-0.060608,0.093030,0.033490,0.083072,-0.008249,0.106693,0.000739,-0.106204,0.024111
Owner_Type,-0.386030,0.080425,1.000000,-0.148770,0.058705,0.026002,0.011524,-0.091098,-0.040768,0.000416,0.041388,0.002313
Mileage,0.285623,-0.060608,-0.148770,1.000000,-0.637258,-0.538844,-0.331576,-0.341652,0.097562,0.010476,-0.130056,0.368398
Engine,-0.068045,0.093030,0.058705,-0.637258,1.000000,0.866301,0.401116,0.658047,0.430151,-0.041080,-0.410837,-0.501928
Power,0.014531,0.033490,0.026002,-0.538844,0.866301,1.000000,0.101460,0.772843,0.292420,-0.040907,-0.272662,-0.644688
Seats,0.007833,0.083072,0.011524,-0.331576,0.401116,0.101460,1.000000,0.055547,0.309581,-0.014557,-0.303177,0.074554
Price,0.299475,-0.008249,-0.091098,-0.341652,0.658047,0.772843,0.055547,1.000000,0.321035,-0.026132,-0.309363,-0.585623
Fuel_Type_Diesel,0.109692,0.106693,-0.040768,0.097562,0.430151,0.292420,0.309581,0.321035,1.000000,-0.044462,-0.977947,-0.139557
Fuel_Type_LPG,-0.034951,0.000739,0.000416,0.010476,-0.041080,-0.040907,-0.014557,-0.026132,-0.044462,1.000000,-0.037522,0.026387
Fuel_Type_Petrol,-0.111083,-0.106204,0.041388,-0.130056,-0.410837,-0.272662,-0.303177,-0.309363,-0.977947,-0.037522,1.000000,0.125612
Transmission_Manual,-0.085406,0.024111,0.002313,0.368398,-0.501928,-0.644688,0.074554,-0.585623,-0.139557,0.026387,0.125612,1.000000

In [147]:
#creating X and y variables

X=dff.drop(["Kilometers_Driven","Price"],axis=1)
y=dff["Price"]

In [144]:
test_1=test_df.drop(["Kilometers_Driven"],axis=1)

In [161]:
test_1.head()

,Year,Owner_Type,Mileage,Engine,Power,Seats,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,2014,1,32.26,998,58.20,4,0,0,0,1
1,2013,2,24.70,796,47.30,5,0,0,1,1
2,2017,1,13.68,2393,147.80,7,1,0,0,1
4,2014,1,18.50,1197,82.85,5,0,0,1,1
5,2016,2,16.00,2179,140.00,7,1,0,0,1

In [148]:
#train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [152]:
#using Randomized search cv for cross validation and hyperparameter tuning

random_cv=RandomizedSearchCV(estimator=reg,
            param_distributions=params,
            cv=5, n_iter=50,
            scoring = 'neg_mean_squared_error',n_jobs = -1,
            verbose = 3, 
            return_train_score = True,)

In [108]:
#defining parameters


n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]
base_score=[0.25,0.5,0.75,1]


params = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [153]:
#fitting to Randomized search cv and checking best estimators

random_cv.fit(X_train,y_train)
random_cv.best_estimator_

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   35.7s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 250 out of 250 | elapsed: 10.0min finished

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.15, max_delta_step=0, max_depth=3,
             min_child_weight=3, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [155]:
#pasted the best estimators to the xgb regressor

reg=xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.15, max_delta_step=0, max_depth=3,
             min_child_weight=3,  monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [156]:
#fitting to the regressor and predicting X_test

reg.fit(X_train,y_train)
pred=reg.predict(X_test)

In [135]:
#importing metrics to judge the resuts
from sklearn import metrics

In [157]:
#resuts seem to be good as r2 score is very good.

print('MAE:', metrics.mean_absolute_error(y_test, pred))

print('MSE:', metrics.mean_squared_error(y_test, pred))

print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, pred)))

r2_score = metrics.r2_score(y_test,pred)
print('R2 Score:', r2_score)

MAE: 1.8919878735684332
MSE: 13.133323209014739
RMSE: 3.623992716468224
R2 Score: 0.9058096517987281

In [158]:
pred_test=reg.predict(test_1)#now predicting for test data

In [164]:
pred_test.round(decimals=2) #final prediction for test data

array([ 3.17,  2.19, 17.33, ...,  3.37,  5.54, 22.13], dtype=float32)